<div class="my-4 flex flex-row">
    <img
      src="https://images.adsttc.com/media/images/57a8/22d6/e58e/ce6f/f900/0251/newsletter/libros_descargar.jpg?1470636755"
      alt="" class="rounded-full w-44 h-44">
    <div class="ml-4 flex flex-col items-center">
      <h1 class="text-3xl font-bold mt-4">Portafolio</h1>
      <h2 class="text-2xl font-bold">FINALIDAD</h2>
      <h3 class="text-xl font-semibold">Descripción</h3>
      <p class="text-lg">Este portafolio ofrece una reflexión profunda sobre la evaluación del aprendizaje en la educación, destacando su importancia mediante la presentación detallada del trabajo académico y el nivel de investigación del estudiante. Esto permite contextualizar el papel crucial de la evaluación en las escuelas y cómo puede contribuir significativamente a mejorar el proceso de enseñanza-aprendizaje de los estudiantes.</p>
    </div>
</div>