<div class="container mx-auto relative p-4 h-1/2 w-screen max-h-screen">
    <h1 class="text-2xl font-bold text-center">Resultado de aprendizaje 2</h1>
    <p class="text-lg text-center">Analiza críticamente la práctica educativa en las instituciones educativas a la luz de nuevas competencias sobre la evaluación de los aprendizajes</p>
    <div class="flex flex-col space-y-4 overflow-y-scroll h-full">
        <div class="flex flex-row space-x-4 items-center">
            <div class="flex-shrink-0">
                <img src="https://images.adsttc.com/media/images/57a8/22d6/e58e/ce6f/f900/0251/newsletter/libros_descargar.jpg?1470636755"
                    alt="" class="rounded-full w-44 h-44">
            </div>
            <div>
                <h2 class="text-xl font-bold">Evidencia 1</h2>
                <h3 class="text-lg font-medium">Actividad de inicio: Recogiendo saberes previos</h3>
                <p class="text-gray-600">Descripción</p>
            </div>
        </div>
        <div class="flex flex-row space-x-4 items-center">
            <div class="flex-shrink-0">
                <img src="https://images.adsttc.com/media/images/57a8/22d6/e58e/ce6f/f900/0251/newsletter/libros_descargar.jpg?1470636755"
                    alt="" class="rounded-full w-44 h-44">
            </div>
            <div>
                <h2 class="text-xl font-bold">Evidencia 2</h2>
                <h3 class="text-lg font-medium">Actividad de inicio: Recogiendo saberes previos</h3>
                <p class="text-gray-600">Descripción</p>
            </div>
        </div>
        <div class="flex flex-row space-x-4 items-center">
            <div class="flex-shrink-0">
                <img src="https://images.adsttc.com/media/images/57a8/22d6/e58e/ce6f/f900/0251/newsletter/libros_descargar.jpg?1470636755"
                    alt="" class="rounded-full w-44 h-44">
            </div>
            <div>
                <h2 class="text-xl font-bold">Evidencia 3</h2>
                <h3 class="text-lg font-medium">Actividad de inicio: Recogiendo saberes previos</h3>
                <p class="text-gray-600">Descripción</p>
            </div>
        </div>
    </div>
</div>